<td width="15%"><%= Utils.addSpacesToSum(data.incomingAmmount) %> руб.</td>
<td width="25%"><%= data.categoryName %>

    <% if ( data.descr ) { %>
    <span class="cur-label"><%= data.descr %></span>
    <% } %>

</td>
<td width="30%"><%= data.storageName %></td>
<td width="20%"><%= data.incomingDate %></td>
<td width="20%" class="center">
    <span class="glyphicon glyphicon-pencil" data-eid="edit-link" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-remove" data-eid="remove" aria-hidden="true"></span>
</td>
