<div class="well" data-eid="new-item" style="display: none">
    <form class="form-horizontal" data-eid="wallet-form">
        <div class="form-group">
            <div class="col-md-6">
                <input class="form-control" type="text" name="cardName" data-eid="item-name" placeholder="название" required>
            </div>
            <div class="col-md-3 no-padding-left">
                <input class="form-control" type="text" name="curBalance" data-eid="item-balance" placeholder="баланс" required>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6">
                <button class="btn btn-primary" data-eid="add-item" type="button">Добавить кошелек</button>
                <button class="btn btn-default" type="button" data-eid="cancel-edit">Отменить</button>
            </div>
        </div>
    </form>
</div>