<ul id="sidebar" class="nav nav-stacked">
    <li><a href="#current">Текущее состояние</a>
    </li>
    <li><a href="#expenses">Расходы</a>
    </li>
    <li><a href="#incomings">Доходы</a>
    </li>
    <li><a href="#storages">Места хранения</a>
    </li>
    <li><a href="#incomings-categories">Справочник доходов</a>
    </li>
    <li><a href="#expenses-categories">Справочник расходов</a>
    </li>
    <!--<li><a href="#plans">Планирование</a>
    </li>
    <li><a href="#credits">1 Кредиты и долги</a>
    </li>
    <li><a href="#statistics">Статистика</a>
    </li>
    <li><a href="#statistics">4 Накопления</a>
    </li>-->
</ul>