<div>
    <h4>Справочник доходов</h4>

    <form data-eid="inc-cat-form">
        <div class="form-group">
            <div class="row">
                <div class="col-md-6 no-padding-right">
                    <input type="text" class="form-control" placeholder="Название типа дохода" data-eid="categ-name" required name="categ-name">
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-primary" data-eid="add-categ">Добавить</button>
                </div>
            </div>
        </div>
    </form>

    <div data-eid="items" class="top20"></div>

</div>
