<h4>Справочник расходов</h4>

<div class="row">
    <div class="col-md-4 well" data-eid="items-list">

    </div>

    <div class="col-md-8 top20" data-eid="edit-form" style="display: none">

    </div>

    <div class="col-md-8 top20" data-eid="add-form">
        <form data-eid="add-category-form">

            <div class="row">
                <div class="col-md-8 no-padding-right">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Название категории"
                               data-eid="new-cat-name" required name="new-cat-name">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <button type="button" class="btn btn-primary" data-eid="add-cat">Добавить</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>


